# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
.eggs/
*.egg
*.log
*.sqlite3
*.db

# Environments
.env
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid

# Test
htmlcov/
.coverage
.cache/

# Misc
*.bak
*.swp
*.tmp
